<app-header></app-header>

<section class="page-section" id="inscricao">
  <div class="container containerInscricao">

    <div class="text">
      <h2 class="text-muted" >Detalhes de Pagamento</h2>

    </div>

      <div >
          <h2 style="font-weight: unset;">Nome Evento</h2>
          <h3 style="font-weight: unset;">Data: <b>01/01/2023</b></h3>
          <h4 style="font-weight: unset;">Valor: <b>R$ 50,00</b></h4>
          <br>
          <h6 style="font-weight: unset;"><b>Detalhe:</b>
            <br><br>
            Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam!</h6>
      </div>

      <br><br>

      <!-- Submit Button-->
      <div class="text-center">

        <!-- INICIO DO BOTAO PAGSEGURO -->
        <a href="https://pag.ae/7X_p6vSHJ/button" target="_blank" title="Pagar com PagSeguro">
          <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
            alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </a><!-- FIM DO BOTAO PAGSEGURO -->

      </div>







  </div>
</section>

