<app-header></app-header>

<section class="page-section section-evento-detalhe" id="contact">
  <div class="container">

      <div class="text-center">
          <h2 class="section-heading text-uppercase">Nome Evento</h2>
          <h3 class="section-heading text">Data: 01/01/2023</h3>
          <h4 class="section-heading text">Valor: R$ 40,00</h4>
          <br>
          <h5 class="section-heading text">Detalhe:
            <br><br>
            Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam!</h5>
      </div>

      <br><br>

      <!-- Submit Button-->
      <div class="text-center">
        <a class="btn btn-primary btn-xl text-uppercase" id="submitButton" href="inscricao">Quero Participar</a>
      </div>






  </div>
</section>
